aiofiles==24.1.0
asgiref==3.8.1
async-timeout==5.0.1
backports.zoneinfo==0.2.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==44.0.1
defusedxml==0.8.0rc2
dict-toolbox==5.0.0
dj-database-url==3.0.0
Django==4.2.11
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
django-on-heroku==1.1.2
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.4
lazy-object-proxy==1.10.0
Markdown==3.7
MarkupSafe==2.1.5
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==1.24.4
oauthlib==3.2.2
packaging==25.0
pop==27.1.0
pop-config==12.0.4
pop-loop==1.1.0
psycopg==3.2.6
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
PyYAML==6.0.2
redis==6.1.1
rend==7.0.2
requests==2.32.3
requests-oauthlib==2.0.0
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
whitenoise==6.7.0
zipp==3.20.2
